# The YUSAG FCS Elo Model
    by Matt Robinson, Yale Undergraduate Sports Analytics Group

Let's start by loading the csv of game data, sorted by date:

In [152]:
import numpy as np
import pandas as pd

In [153]:
game_df = pd.read_csv('2013-2016_NCAA_football_fcs_elo.csv')

In [154]:
game_df.head()

,year,month,day,team,opponent,location,teamscore,oppscore
0,2013,8,29,Central Ark.,Incarnate Word,1,58,7
1,2013,8,29,Chattanooga,UT Martin,1,21,31
2,2013,8,29,Dayton,Youngstown St.,-1,10,28
3,2013,8,29,Delaware,Jacksonville,1,51,35
4,2013,8,29,Eastern Ky.,Robert Morris,1,38,6

In [155]:
game_df['scorediff'] = (game_df['teamscore']-game_df['oppscore'])

In [156]:
game_df.head()

,year,month,day,team,opponent,location,teamscore,oppscore,scorediff
0,2013,8,29,Central Ark.,Incarnate Word,1,58,7,51
1,2013,8,29,Chattanooga,UT Martin,1,21,31,-10
2,2013,8,29,Dayton,Youngstown St.,-1,10,28,-18
3,2013,8,29,Delaware,Jacksonville,1,51,35,16
4,2013,8,29,Eastern Ky.,Robert Morris,1,38,6,32

We'll create an initial dictionary of elo ratings:

In [157]:
elo_ratings_dict = {}
for index, row in game_df.iterrows():
    elo_ratings_dict[row['team']] = 1500
    # also go through opponent column in case any team only in that column
    elo_ratings_dict[row['opponent']] = 1500

Now, let's go through the games and apply the elo algorithm.

In [158]:
# function to update elo ratings based on the score
def elo_update(winner_elo, loser_elo, mov):
    k = 20
    mov_multiplier = (2.2 * np.log(mov + 1))/((0.001 * (winner_elo-loser_elo))+2.2)
    
    u_winner = 1/(1+(10 ** ((winner_elo-loser_elo)/400)))
    u_loser = 1/(1+(10 ** ((loser_elo-winner_elo)/400)))
    
    s1 = 1
    s2 = 0
    
    new_winner_elo = winner_elo + k * mov_multiplier * (s1 - u_winner)
    new_loser_elo = loser_elo + k * mov_multiplier * (s2 - u_loser)
    
    return [new_winner_elo, new_loser_elo]

In [159]:
current_year = 2013
for index, row in game_df.iterrows():
    # first check if it is a new year
    year = row['year']
    if year != current_year:
        # if new year, regress all elo ratings to the mean
        for key in elo_ratings_dict:
            elo_ratings_dict[key] = (0.5*elo_ratings_dict[key]) + (0.5*1500)
        # update the year
        current_year = year
        
    # find the margin of victory
    score_diff = row['scorediff']
    mov = abs(score_diff)
        
    # check if the game was at home, away, or neutral
    if row['location'] == 1.0:
        home_team = row['team']
        away_team = row['opponent']
        
        # get corresponding elo ratings
        home_elo = elo_ratings_dict[home_team] + 65
        away_elo = elo_ratings_dict[away_team]
        
        # check if home or away team won
        if score_diff > 0: 
            new_home_elo = elo_update(home_elo,away_elo,mov)[0] - 65
            new_away_elo = elo_update(home_elo,away_elo,mov)[1]
        elif score_diff < 0:
            new_away_elo = elo_update(away_elo,home_elo,mov)[0]
            new_home_elo = elo_update(away_elo,home_elo,mov)[1] - 65 
            
        # update the ratings dict
        elo_ratings_dict[home_team] = new_home_elo
        elo_ratings_dict[away_team] = new_away_elo
        
    elif row['location'] == -1.0:
        home_team = row['opponent']
        away_team = row['team']
        
        # get corresponding elo ratings
        home_elo = elo_ratings_dict[home_team] + 65
        away_elo = elo_ratings_dict[away_team]
        
        # check if home or away team won
        if score_diff < 0: 
            new_home_elo = elo_update(home_elo,away_elo,mov)[0] - 65
            new_away_elo = elo_update(home_elo,away_elo,mov)[1]
        elif score_diff > 0:
            new_away_elo = elo_update(away_elo,home_elo,mov)[0]
            new_home_elo = elo_update(away_elo,home_elo,mov)[1] - 65 
            
        # update the ratings dict
        elo_ratings_dict[home_team] = new_home_elo
        elo_ratings_dict[away_team] = new_away_elo
            
    elif row['location'] == 0.0:
        # since neutral just arbitrarily make home and away, but don't add 65
        home_team = row['team']
        away_team = row['opponent']
        
        # get corresponding elo ratings
        home_elo = elo_ratings_dict[home_team]
        away_elo = elo_ratings_dict[away_team]
        
        # check if home or away team won
        if score_diff > 0: 
            new_home_elo = elo_update(home_elo,away_elo,mov)[0]
            new_away_elo = elo_update(home_elo,away_elo,mov)[1]
        elif score_diff < 0:
            new_away_elo = elo_update(away_elo,home_elo,mov)[0]
            new_home_elo = elo_update(away_elo,home_elo,mov)[1] 
            
        # update the ratings dict
        elo_ratings_dict[home_team] = new_home_elo
        elo_ratings_dict[away_team] = new_away_elo

In [160]:
elo_ratings_dict

{'Abilene Christian': 1371.974938356436,
 'Alabama A&M': 1374.3341829364481,
 'Alabama St.': 1531.3148770439902,
 'Albany (NY)': 1450.2693603080852,
 'Alcorn': 1701.8276801582988,
 'Ark.-Pine Bluff': 1161.740418109933,
 'Austin Peay': 1123.4516182364441,
 'Bethune-Cookman': 1648.4534815599309,
 'Brown': 1483.962590862064,
 'Bryant': 1507.9389540387938,
 'Bucknell': 1512.8109647936383,
 'Butler': 1419.6600888772978,
 'Cal Poly': 1566.1194861884806,
 'Campbell': 1450.2633126904798,
 'Central Ark.': 1651.5359822068558,
 'Central Conn. St.': 1248.925705135111,
 'Charleston So.': 1663.2472596991638,
 'Charlotte': 1498.2961741013578,
 'Chattanooga': 1789.5125575680909,
 'Coastal Caro.': 1664.9051818247553,
 'Colgate': 1523.1475646331128,
 'Columbia': 1248.9326673570238,
 'Cornell': 1255.826315531858,
 'Dartmouth': 1638.3716743940108,
 'Davidson': 1161.991736348733,
 'Dayton': 1764.5603427276037,
 'Delaware': 1476.5952521239183,
 'Delaware St.': 1161.103845779578,
 'Drake': 1535.9457766586243,
 'Duquesne': 1589.0757560955617,
 'ETSU': 1307.7035714020321,
 'Eastern Ill.': 1592.6017420523813,
 'Eastern Ky.': 1574.0307901436413,
 'Eastern Wash.': 1762.8820015346482,
 'Elon': 1224.3533603503838,
 'Florida A&M': 1336.1859120785418,
 'Fordham': 1771.9473721716381,
 'Furman': 1374.5163149413702,
 'Gardner-Webb': 1402.4316671493505,
 'Georgetown': 1306.0999539659297,
 'Grambling': 1740.4148814920263,
 'Hampton': 1442.7437297829019,
 'Harvard': 1781.550447813401,
 'Holy Cross': 1409.332327661456,
 'Houston Baptist': 1254.9947172161642,
 'Howard': 1373.273541160323,
 'Idaho St.': 1326.9412271058495,
 'Illinois St.': 1659.68107625332,
 'Incarnate Word': 1315.2278894323636,
 'Indiana St.': 1388.9763457261065,
 'Jackson St.': 1399.5377687451864,
 'Jacksonville': 1602.3130425778581,
 'Jacksonville St.': 1830.8210672861949,
 'James Madison': 1877.6496120704533,
 'Kennesaw St.': 1512.3851352153467,
 'Lafayette': 1225.7862597985782,
 'Lamar University': 1469.7267782321642,
 'Lehigh': 1577.5402804903997,
 'Liberty': 1638.2801760815009,
 'Maine': 1508.2892890324547,
 'Marist': 1499.1283209249179,
 'McNeese': 1666.394154474875,
 'Mercer': 1582.6334399827565,
 'Mississippi Val.': 1120.7456318041661,
 'Missouri St.': 1271.3286128919408,
 'Monmouth': 1487.7738203071199,
 'Montana': 1655.4004491540488,
 'Montana St.': 1505.645480695307,
 'Morehead St.': 1368.4731555550688,
 'Morgan St.': 1459.9290867456732,
 'Murray St.': 1390.3932348952067,
 'N.C. A&T': 1762.467074636234,
 'N.C. Central': 1667.9180156901984,
 'New Hampshire': 1729.1976840992556,
 'Nicholls St.': 1380.5054180118505,
 'Norfolk St.': 1335.5960932238554,
 'North Dakota': 1556.9208223178582,
 'North Dakota St.': 1971.8391491523405,
 'Northern Ariz.': 1573.0770667355118,
 'Northern Colo.': 1395.6889645207484,
 'Northwestern St.': 1352.9472171222219,
 'Penn': 1505.6293240739337,
 'Portland St.': 1458.2785759203844,
 'Prairie View': 1681.8456898733066,
 'Presbyterian': 1340.6955021094373,
 'Princeton': 1721.5801144483294,
 'Rhode Island': 1183.0922877079715,
 'Richmond': 1699.0196821240979,
 'Robert Morris': 1230.1658296357386,
 'SFA': 1456.2393028740357,
 'Sacramento St.': 1359.795392818661,
 'Sacred Heart': 1665.0990727291128,
 'Saint Francis (PA)': 1501.6955857198404,
 'Sam Houston St.': 1891.9377626394703,
 'Samford': 1584.7959189742542,
 'San Diego': 1753.599557264653,
 'Savannah St.': 1303.8456160769413,
 'South Carolina St.': 1691.8626286570347,
 'South Dakota': 1341.9550154484314,
 'South Dakota St.': 1671.4037879298478,
 'Southeast Mo. St.': 1406.9514788477322,
 'Southeastern La.': 1691.0945261408065,
 'Southern Ill.': 1483.4171192520344,
 'Southern U.': 1712.3737337009629,
 'Southern Utah': 1563.0889305746578,
 'Stetson': 1282.2444050780637,
 'Stony Brook': 1488.8390029388254,
 'Tennessee St.': 1573.1172839277206,
 'Tennessee Tech': 1363.1006908548645,
 'Texas Southern': 1354.2498919863374,
 'The Citadel': 1641.5005983084552,
 'Towson': 1506.4014848109241,
 'UC Davis': 1331.6904265171165,
 'UNI': 1647.3203704427046,
 'UT Martin': 1617.9748829377463,
 'VMI': 1286.0494729874811,
 'Valparaiso': 1216.1522264565097,
 'Villanova': 1737.8845096192995,
 'Wagner': 1479.0013448191139,
 'Weber St.': 1425.4716563663665,
 'Western Caro.': 1439.4792433323755,
 'Western Ill.': 1421.4380067456705,
 'William & Mary': 1622.7275130195248,
 'Wofford': 1617.0563487090626,
 'Yale': 1461.7473543971141,
 'Youngstown St.': 1688.773931952247}

In [161]:
# See it in sorted form
import operator
sorted_elo_rankings = sorted(elo_ratings_dict.items(), key=operator.itemgetter(1))

In [162]:
sorted_elo_rankings

[('Mississippi Val.', 1120.7456318041661),
 ('Austin Peay', 1123.4516182364441),
 ('Delaware St.', 1161.103845779578),
 ('Ark.-Pine Bluff', 1161.740418109933),
 ('Davidson', 1161.991736348733),
 ('Rhode Island', 1183.0922877079715),
 ('Valparaiso', 1216.1522264565097),
 ('Elon', 1224.3533603503838),
 ('Lafayette', 1225.7862597985782),
 ('Robert Morris', 1230.1658296357386),
 ('Central Conn. St.', 1248.925705135111),
 ('Columbia', 1248.9326673570238),
 ('Houston Baptist', 1254.9947172161642),
 ('Cornell', 1255.826315531858),
 ('Missouri St.', 1271.3286128919408),
 ('Stetson', 1282.2444050780637),
 ('VMI', 1286.0494729874811),
 ('Savannah St.', 1303.8456160769413),
 ('Georgetown', 1306.0999539659297),
 ('ETSU', 1307.7035714020321),
 ('Incarnate Word', 1315.2278894323636),
 ('Idaho St.', 1326.9412271058495),
 ('UC Davis', 1331.6904265171165),
 ('Norfolk St.', 1335.5960932238554),
 ('Florida A&M', 1336.1859120785418),
 ('Presbyterian', 1340.6955021094373),
 ('South Dakota', 1341.9550154484314),
 ('Northwestern St.', 1352.9472171222219),
 ('Texas Southern', 1354.2498919863374),
 ('Sacramento St.', 1359.795392818661),
 ('Tennessee Tech', 1363.1006908548645),
 ('Morehead St.', 1368.4731555550688),
 ('Abilene Christian', 1371.974938356436),
 ('Howard', 1373.273541160323),
 ('Alabama A&M', 1374.3341829364481),
 ('Furman', 1374.5163149413702),
 ('Nicholls St.', 1380.5054180118505),
 ('Indiana St.', 1388.9763457261065),
 ('Murray St.', 1390.3932348952067),
 ('Northern Colo.', 1395.6889645207484),
 ('Jackson St.', 1399.5377687451864),
 ('Gardner-Webb', 1402.4316671493505),
 ('Southeast Mo. St.', 1406.9514788477322),
 ('Holy Cross', 1409.332327661456),
 ('Butler', 1419.6600888772978),
 ('Western Ill.', 1421.4380067456705),
 ('Weber St.', 1425.4716563663665),
 ('Western Caro.', 1439.4792433323755),
 ('Hampton', 1442.7437297829019),
 ('Campbell', 1450.2633126904798),
 ('Albany (NY)', 1450.2693603080852),
 ('SFA', 1456.2393028740357),
 ('Portland St.', 1458.2785759203844),
 ('Morgan St.', 1459.9290867456732),
 ('Yale', 1461.7473543971141),
 ('Lamar University', 1469.7267782321642),
 ('Delaware', 1476.5952521239183),
 ('Wagner', 1479.0013448191139),
 ('Southern Ill.', 1483.4171192520344),
 ('Brown', 1483.962590862064),
 ('Monmouth', 1487.7738203071199),
 ('Stony Brook', 1488.8390029388254),
 ('Charlotte', 1498.2961741013578),
 ('Marist', 1499.1283209249179),
 ('Saint Francis (PA)', 1501.6955857198404),
 ('Penn', 1505.6293240739337),
 ('Montana St.', 1505.645480695307),
 ('Towson', 1506.4014848109241),
 ('Bryant', 1507.9389540387938),
 ('Maine', 1508.2892890324547),
 ('Kennesaw St.', 1512.3851352153467),
 ('Bucknell', 1512.8109647936383),
 ('Colgate', 1523.1475646331128),
 ('Alabama St.', 1531.3148770439902),
 ('Drake', 1535.9457766586243),
 ('North Dakota', 1556.9208223178582),
 ('Southern Utah', 1563.0889305746578),
 ('Cal Poly', 1566.1194861884806),
 ('Northern Ariz.', 1573.0770667355118),
 ('Tennessee St.', 1573.1172839277206),
 ('Eastern Ky.', 1574.0307901436413),
 ('Lehigh', 1577.5402804903997),
 ('Mercer', 1582.6334399827565),
 ('Samford', 1584.7959189742542),
 ('Duquesne', 1589.0757560955617),
 ('Eastern Ill.', 1592.6017420523813),
 ('Jacksonville', 1602.3130425778581),
 ('Wofford', 1617.0563487090626),
 ('UT Martin', 1617.9748829377463),
 ('William & Mary', 1622.7275130195248),
 ('Liberty', 1638.2801760815009),
 ('Dartmouth', 1638.3716743940108),
 ('The Citadel', 1641.5005983084552),
 ('UNI', 1647.3203704427046),
 ('Bethune-Cookman', 1648.4534815599309),
 ('Central Ark.', 1651.5359822068558),
 ('Montana', 1655.4004491540488),
 ('Illinois St.', 1659.68107625332),
 ('Charleston So.', 1663.2472596991638),
 ('Coastal Caro.', 1664.9051818247553),
 ('Sacred Heart', 1665.0990727291128),
 ('McNeese', 1666.394154474875),
 ('N.C. Central', 1667.9180156901984),
 ('South Dakota St.', 1671.4037879298478),
 ('Prairie View', 1681.8456898733066),
 ('Youngstown St.', 1688.773931952247),
 ('Southeastern La.', 1691.0945261408065),
 ('South Carolina St.', 1691.8626286570347),
 ('Richmond', 1699.0196821240979),
 ('Alcorn', 1701.8276801582988),
 ('Southern U.', 1712.3737337009629),
 ('Princeton', 1721.5801144483294),
 ('New Hampshire', 1729.1976840992556),
 ('Villanova', 1737.8845096192995),
 ('Grambling', 1740.4148814920263),
 ('San Diego', 1753.599557264653),
 ('N.C. A&T', 1762.467074636234),
 ('Eastern Wash.', 1762.8820015346482),
 ('Dayton', 1764.5603427276037),
 ('Fordham', 1771.9473721716381),
 ('Harvard', 1781.550447813401),
 ('Chattanooga', 1789.5125575680909),
 ('Jacksonville St.', 1830.8210672861949),
 ('James Madison', 1877.6496120704533),
 ('Sam Houston St.', 1891.9377626394703),
 ('North Dakota St.', 1971.8391491523405)]

In [163]:
ivy_team_names = ['Yale','Harvard','Princeton','Cornell','Brown','Columbia','Dartmouth','Penn']
ivy_elo_ratings_dict = {}
for tpl in sorted_elo_rankings[::-1]:
    if tpl[0] in ivy_team_names:
        ivy_elo_ratings_dict[tpl[0]] = tpl[1]

In [164]:
ivy_elo_ratings_dict

{'Brown': 1483.962590862064,
 'Columbia': 1248.9326673570238,
 'Cornell': 1255.826315531858,
 'Dartmouth': 1638.3716743940108,
 'Harvard': 1781.550447813401,
 'Penn': 1505.6293240739337,
 'Princeton': 1721.5801144483294,
 'Yale': 1461.7473543971141}